@media only screen and (min-width: 32.5em) {
    /* html tag selectors */
    header div {
        margin-right: 7em;
        padding: 10px;
    }

    iframe {
        display: block;
        margin: 1em;
    }

    /* class selectors */ 
    .navigation {
        flex-direction: row;
    }
    .navigation li:first-child{
        display: none;
    }

    .navigation li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5em;
    }
    /* id selectors  */
    #fiveday-forcast {
        display: block;
    }

    #contact {
        display: flex;
        justify-content: space-evenly;
    }

    nav a:hover{
        letter-spacing: 3pt !important;
        }

    
}
@media only screen and (min-width: 55em){

    .section-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}